<app-hopbar></app-hopbar>
<style>
.bg{
    /* The image used */
    background-image: url("/assets/KEV0089.jpg");

    /* Full height */
    height: 130%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.filterbg{
  background-color: white;
  width: 79.95%;
}
.add{
  background-color: white;
}

.table{
  background-position: center
}
</style>
<div class = "bg">
  <br>
  <!-- <div class="table-container mat-elevation-z8 usertable"> -->
    <form style="width: 90%; margin: auto">
      <mat-card>
        <button class="add" mat-button (click)="openForm()"><mat-icon>queue</mat-icon>Add User</button>
        <!-- Filter Input Form -->
        <mat-form-field class="filterbg">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table class="full-width-table" matSort aria-label= "Elements" [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.category}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="venmo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Venmo </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.venmo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="car">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Car </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.car}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="approved">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.approved}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let user">
              <button mat-button (click)="openDialog(user._id)"><mat-icon>reorder</mat-icon></button>
              <button mat-button (click)="sendEmail(user._id)"><mat-icon>mail_outline</mat-icon></button>
              <button mat-button ><mat-icon>delete_forever</mat-icon></button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20]">
        </mat-paginator>
      </mat-card>
    </form>
  <!-- </div> -->
</div>
