<h1 mat-dialog-title>Account Information</h1>
<p >
  <strong>ID:</strong> <td>{{data._id}}</td><br/>
  <strong>Name:</strong> <td>{{data.name}}</td><br/>
  <strong>Category:</strong> <td>{{data.category}}</td><br/>
  <strong>Date Created:</strong> <td>{{data.created_at}}</td><br/>
  <strong>Email:</strong> <td>{{data.email}}</td><br/>
  <strong>Car:</strong> <td>{{data.car}}</td><br/>
  <strong>Venmo:</strong> <td>{{data.venmo}}</td><br/>
  <strong>Phone:</strong> <td>{{data.phone}}</td><br/>
  <strong>Status:</strong> <td>{{data.approved}}</td><br/>
</p>

<div mat-dialog-actions>
  <button mat-button (click)="onApprove()">Accept</button>
  <button mat-button (click)="onNoClick()">Reject</button>
  <button mat-button><mat-icon>edit</mat-icon></button>
</div>


