<app-hopbar></app-hopbar>

<!--
<div style="text-align:left">
        <h1>
            <button><a routerLink = "/login"><mat-icon>supervised_user_circle</mat-icon></a></button>
            <button><a routerLink = "/admin"><mat-icon>rate_review</mat-icon></a></button>
            <button><a routerLink = "/applicationtable"><mat-icon>directions_car</mat-icon></a></button>
            <button><a routerLink = "/admin"><mat-icon>settings</mat-icon></a></button>
        </h1>
      </div>
-->
<html>
<head></head>
<style>
body{
    /* The image used */
    background-image: url("/assets/DSC04059.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
  font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0;
}
</style>
<body>
  <!-- <div class="bg"></div>  -->
    <!-- <img src="/assets/DSC02310.jpg" alt="Flowers in Chania" style="width:1400px;height:900px;"> -->
    <br>
    <br>
    <form style ="width:50%; margin: auto">
      <mat-card>
        <div class = "container">
          <h1><strong>Welcome!</strong></h1>
          <h4><strong>You are on the Karmecca Backend Beta website!</strong></h4>
        </div>
      </mat-card>
    </form>
    <br>
    <form style="width: 50%; margin: auto">
      <mat-card>
        <div class="container">
          <h2><strong>Current Application Status</strong></h2>
          <h6><strong>Applications Approved:</strong></h6>
          <div class="light-grey round-xlarge">
            <div class="container green round-xlarge" [ngStyle]="{'width.%':approved}"><strong>{{approved}}%</strong></div>
          </div>
          <br>
          <br>
          <br>
          <h6><strong>Applications Pending:</strong></h6>
          <div class="light-grey round-xlarge">
            <div class="container orange round-xlarge" [ngStyle]="{'width.%':pending}"><strong>{{pending}}%</strong></div>
          </div>
          <br>
          <br>
          <br>
          <h6><strong>Applications Rejected:</strong></h6>
          <div class="light-grey round-xlarge">
            <div class="container red round-xlarge" [ngStyle]="{'width.%':rejected}"><strong>{{rejected}}%</strong></div>
          </div>
        </div>
      </mat-card>
    </form>
</body>
</html>
<!-- <p>Home works!</p> -->

<!-- <p><button><a routerLink = "/admin">Go to Admin</a></button></p>
<p><button><a routerLink = "/applicationtable">Go to Table</a></button></p> -->



<!--
<p>
    <a routerLink = "/login">Login</a>
    <a routerLink = "/admin">Go to Admin</a>
    <a routerLink = "/viewApps">View Applications</a>
</p>
-->
