/* form {
    position: absolute;
} */
/* 
mat-card.Username {
    justify-content: center;
}

mat-card.Password {
    justify-content: center;
}

div.login {
    float: right;
} */
.dinamic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}