/* form {
    position: absolute;
} */
/* 
mat-card.Username {
    justify-content: center;
}

mat-card.Password {
    justify-content: center;
}

div.login {
    float: right;
} */
.dinamic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }