<form action="/action_page.php">
    <div class="imgcontainer" style= "background-color: black">
      <img src="\assets\bwlogo.png" alt="Karmecca logo in Black and white" class="bwlogo">
    </div>
  
    <div class="container">
      <!-- Username Field -->
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      
      <!-- Password Field-->
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      
      <!-- Register button -->
      <button type="button" class="registerbtn" onclick="location.href='../register'">Register</button>
      
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </form>