<app-hopbar></app-hopbar>

<div class=about>
    <h4>
    <br><br><br>KARMECCA is a new movement. Built for car enthusiasts <br>
    who share the same passion and unique visions for modified <br>
    builds in the car scene nationwide.
    </h4>
    <br>
    <br>
    <h4>
    We aim to promote unity, strengthen the culture and pay homage <br>
    to all individuals who contribute timeless hours into these <br>
    special cars. We will showcase the best of the best builds and <br>
    highlight the emerging trends in the aftermarket industry.
    </h4>
</div>
