<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>

       
          <h1>Car Applications</h1>
          <p>
             <label>Filter By </label>
             <select id = "myList">
               <option value = "1">Completed</option>
               <option value = "2">Approved</option>
               <option value = "3">Denied</option>
               <option value = "4">Paid</option>
               <option value = "4">Pending</option>
             </select>
          </p>
       

    <table> 
        <tr> 
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr> 
        <tr>
             <td>Bob</td>
              <td>Complete</td>
              <!--These are the button for Actions and will need to configure onClick actions-->
              <td><button type="submit">Edit</button> <button type="submit">Delete</button></td>
        </tr> 
    </table>

  </body>
</html>