<h1 mat-dialog-title>Add User:</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="data.user.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input placeholder="Email address" matInput [(ngModel)]="data.user.email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input placeholder="Car" matInput [(ngModel)]="data.user.car">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input placeholder="Venmo username" matInput [(ngModel)]="data.user.venmo">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input placeholder="Car/Vendor/Volunteer" matInput [(ngModel)]="data.user.category">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input placeholder="Phone Number" matInput [(ngModel)]="data.user.phone">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
</div>

<!-- _id: string;
created_at: string;
name: string;
email: string;
car: string;
venmo:string;
category: string;
phone: string;
approved: string; -->