<!DOCTYPE html> 
<html> 
<body> 

    <h1> Register an account </h1>
  
    <form> 
        Username:<br> 
        <input type="text" name="username"> 
        <br><br>
        Password:<br> 
        <input type="text" name="password"> 
        <br><br>
        Email:<br> 
        <input type="text" name="email_addr"> 
        <br><br> 
        <!--TODO: Needs to trigger a confirmation email to be sent to email address specified. -->
        <button><a routerLink = "/registerconfirm">Submit</a></button>


    </form>  
  
</body> 
</html> 
