<div> 
    <mat-toolbar color="primary" class="button-row">
        <span class="title">Karmecca</span>
        <a mat-raised-button routerLink = "/home"><mat-icon>home</mat-icon>Home</a>
        <a mat-raised-button routerLink = "/login"><mat-icon>supervised_user_circle</mat-icon>Login</a>
        <span class="fill"></span>
        <a mat-raised-button routerLink = "/admin"><mat-icon>rate_review</mat-icon>Admin</a>
        <a mat-raised-button routerLink = "/applicationtable"><mat-icon>directions_car</mat-icon>Applications</a>
        <a mat-raised-button routerLink = "/admin"><mat-icon>settings</mat-icon>Settings</a>    
        <!-- <button><a routerLink = "/home"><mat-icon>home</mat-icon></a></button> 
        <button><a routerLink = "/login"><mat-icon>supervised_user_circle</mat-icon></a></button> 
        <button><a routerLink = "/admin"><mat-icon>rate_review</mat-icon></a></button> 
        <button><a routerLink = "/applicationtable"><mat-icon>directions_car</mat-icon></a></button> 
        <button><a routerLink = "/admin"><mat-icon>settings</mat-icon></a></button> -->
    </mat-toolbar>
</div>