<div> 
    <mat-toolbar color="primary">
        <button><a routerLink = "/home"><mat-icon>home</mat-icon></a></button> 
        <button><a routerLink = "/login"><mat-icon>supervised_user_circle</mat-icon></a></button> 
        <button><a routerLink = "/admin"><mat-icon>rate_review</mat-icon></a></button> 
        <button><a routerLink = "/applicationtable"><mat-icon>directions_car</mat-icon></a></button> 
        <button><a routerLink = "/admin"><mat-icon>settings</mat-icon></a></button>
    </mat-toolbar>
</div>